li.fatos {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 23px 20px;
    display: flex;
}

li .fatos div {
    width: 100%;
}

li .fatos img {
    height: 80px;
    width: 80px;
}

li .fatos-container {
    display: block;
    margin-left: 20px;
    max-width: 350px;
    word-wrap: break-word;
}

li .fatos-container h1 {
    display: block;
    width: 350px;
    font-size: 17px;
    color: #333;
}

li .fatos-container p {
    color: #666;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
}