div .card-container {
    width: 500px;
    margin: 50px;
}

div .card-container ul {
    display: grid;
    gap: 20px;
    list-style: none;
    margin-bottom: 20px;
}

div .button-ud {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div .button-ud button {
    display: flex;
    align-items: center;
    border: 0;
    padding: 5px;
    border-radius: 100px;
    background-color: #ffff;
    font-size: 16px;
    margin-bottom: 3px;
}

div .button-ud button img {
    height: 20px;
    width: 20px;
}

div .button-ud button:hover {
    background: rgba(233, 232, 232, 0.555);
}
