li.dicas {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: row;
}

li .dicas-container {
    display: block;
    margin-left: 40px;
}

li .button-points {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li .button-points img{
    height: 20px;
    width: 20px;
} 

li img {
    height: 80px;
    width: 80px;
}
 
li .dicas-container h1 {
    display: block;
    font-size: 17px;
    width: 315px;
    color: #333;
}

li .dicas-container p {
    
    color: #666;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
}


