li.motivacional {
    background: #4507a1;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 23px 20px;
    display: flex;
    flex-direction: row;
}

li img {
    height: 65px;
    width: 65px;
}

li .motivacional-container {
    display: block;
    text-align: center;
    max-width: 435px;
    word-wrap: break-word;
}

li .motivacional-container p {
    color: #FFF;
    width: 450px;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
}

li .button-pointsW {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li .button-pointsW img{
    height: 20px;
    width: 20px;
} 