div .card-container {
    width: 500px;
    margin: 50px;
}

div .card-container ul {
    display: grid;
    gap: 20px;
    list-style: none;
    margin-bottom: 20px;
}

div .button-ud {
    display: flex;
    margin-top: -10px;
    flex-direction: column;
    align-items: flex-start;
    height: 70px;
    width: 20px;
}

div .button-ud button {
    display: flex;
    align-items: center;
    border: 0;
    padding: 5px;
    margin-left: 5px;
    border-radius: 100px;
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 4px;
}

div .button-ud button img {
    height: 20px;
    width: 20px;
}

div .button-ud button:hover {
    background: rgba(209, 209, 209, 0.712);
}
