div .container {
    display: flex;
    flex-direction: row;
}

div .create-container {
    height: fit-content;
    display: flex;
    flex-direction: column;

    width: 350px;
    padding: 30px 30px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 50px;

    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}

div .create-container font {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 350;
    letter-spacing: -.5px;
    color: #6E6D6D;
}

div .create-container label {
    display: block;
    margin-bottom: 8px;
    margin-left: 3px;
    font-size: 15px;
    color: #ACACAC;
}

div .create-container input {
    width: 100%;
    height: 32px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid rgba(58, 57, 57, 0.568);
    padding: 1px;
    color: #666;
    margin-bottom: 10px;
}

div .create-container textarea {
    overflow: auto;
    resize: none;
    font-family: unset;
    width: 100%;
    height: 80px;
    font-size: 16px;
    border: 0;
    padding: 1px;
    color: #666;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(58, 57, 57, 0.568);
}

div .create-container button {
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: 0;
    margin-top: 20px;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background: #4507a1;
    transition: background 0.5s;
}

div .create-container button:hover {
    background: #590ec9;
}
